@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Poppins:wght@400;600&family=Roboto+Mono:wght@100;400;600&display=swap');
@import './links-buttons.css';
@import './nav.css';

:root {
    --primary-font-col: #dedede;
    --primary-bg-col: #444;
    --secondaryColor: #ff652f;
    --nav-col-1: #E33E05;
    --nav-col-2: #B02D00;
    --nav-col-1-trans: #E33E05aa;
    --nav-col-2-trans: #B02D0077;
    --gradient-col1: #2D584E;
    --gradient-col2: #062343;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--primary-bg-col);
    color: var(--primary-font-col);
    font-family: 'Poppins', sans-serif;
}

.name-header,
.section-header {
    color: var(--secondaryColor);
    font-size: 4rem;
    width: 100%;
    text-align: center;
    padding-bottom: .2rem;
    border-bottom: 2px solid var(--primary-font-col);
    margin-bottom: .5rem;
}

.section-header {
    margin: 4rem 0;
}

.first,
.motto {
    color: var(--primary-font-col);
}

.section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 {
    padding: 0 3rem;
}

.section:nth-of-type(odd) {
    background-image: linear-gradient(
            var(--gradient-col1),
            var(--gradient-col2));

}

.section:nth-of-type(even) {
    background-image: linear-gradient(
            var(--gradient-col2),
            var(--gradient-col1));
}

.text {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}

.about-header {
    text-align: center;
}

.about-container {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.about-header {
    font-size: 2rem;
}

.about-text-content {
    width: 80%;
    padding: 2rem;
}

.about {
    text-align: left;
}

.about-img {
    background-color: #aaaaaa66;
    margin: 3rem 1rem;
    width: 550px;
    border: 1px solid #aaaaaa;
    border-radius: .4rem;
    box-shadow: 3px 3px 18px #222222aa;
}

.about-img img {
    width: 100%;
    padding: .3rem;
}

.img-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img {
    background-color: #aaaaaa66;
    cursor: pointer;
    margin: 3rem 1rem;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #aaaaaa;
    border-radius: .4rem;
    box-shadow: 3px 3px 18px #222222aa;
}

.img img {
    width: 550px;
    padding: 1rem 1rem 4rem;
    border: 1px solid #aaaaaa;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1rem 2rem 2rem;
    background-color: var(--gradient-col1);
    transform: translateY(100%);
    transition: transform .3s ease-in;
}

.overlay.show {
    position: absolute;
    transform: translateY(0);
    transition: transform .3s ease-in;
}

.overlay-header {
    text-align: center;
    font-size: 2rem;
}

.lang {
    color: var(--secondaryColor);
}

.skills-container {
    margin-top: 5rem;
    padding-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(
            var(--gradient-col1),
            var(--gradient-col2));
}

.skills-container > div {
    font-size: 1.6rem;
    text-align: center;
}

.skills-container > span {
    font-size: 2rem;
}
.skill-img {
    margin: 0 2rem 2rem;
    height: 100px;
}

.contact {
    width: 75vw;
    height: 100%;
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .4rem;
    background-image: linear-gradient(
            var(--gradient-col1),
            var(--gradient-col2));
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    font-size: 1.5rem;
}

.contact .social-icons {
    position: initial;
    margin-top: 8rem;
}

.social-icons > a {
    margin: 0 .3rem;
}

.text-secondary {
    color: var(--secondaryColor);
}

footer {
    margin-bottom: .8rem;
}


@media screen and (max-width: 1800px){

    .about-container {
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .text.about {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 1300px) {
    .section-1,
    .section-2,
    .section-4 {
        font-size: 90%;
    }
    .text.about{
        font-size: 1.2rem;
    }

    .about-header {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {

    .overlay {
        padding: 1rem .2rem;
    }

    .inner {
        font-size: 1.1rem;
        padding: 0;
    }

    .overlay-header {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .section-2 {
        padding: .1rem 1rem;
    }

    .about-container {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about-text-content {
        width: 100%;
    }

    .about-img {
        width: 320px;
        margin: 2rem 0;
    }
    .text.about {
        font-size: 1.1rem;
    }

    .img  {
        width: 380px;
        height: 400px;
    }

    .img img {
        padding: 0 1rem 2rem;
        border: none;
        width: 365px;
    }

    .section-4 {
        padding: 0 1rem;
    }

    .skills-container {
        width: 100%;
    }

    li {
        padding: 0.7rem 2.3rem;
        font-size: 1rem;
    }

    li:nth-of-type(odd) {
        background-color: var(--nav-col-1);
    }

    li:nth-of-type(even) {
        background-color: var(--nav-col-2);
    }

    .contact {
        width: 90vw;
    }

    .contact .social-icons {
        margin-top: 2.5rem;
    }
}