@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Poppins:wght@400;600&family=Roboto+Mono:wght@100;400;600&display=swap');

:root {
    --primary-font-col: #dedede;
    --primary-bg-col: #444;
    --secondaryColor: #ff652f;
    --nav-col-1: #E33E05cc;
    --nav-col-2: #B02D00cc;
    /*--nav-col-1-trans: #E33E0577;*/
    /*--nav-col-2-trans: #B02D0077;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
body {
    background-color: var(--primary-bg-col);
    color: var(--primary-font-col);
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    flex-direction: column;
    background-image: linear-gradient(#2D584E, #062343);
    /*background: url("./images/home-bg.jpg");*/
    /*background-size: cover;*/

}

.section-2,
.section-3,
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-2 {
    background-image: linear-gradient(#062343, #2D584E);
    padding: 0 3rem 4rem;
}


.section-3 {
    background-image: linear-gradient(#2D584E, #062343);
    padding: 0 3rem 4rem;
}

.section-4 {
    background-image: linear-gradient(#062343, #2D584E);
    padding: 0 3rem 4rem;
}

.img-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img {
    cursor: pointer;
    margin: 3rem 1rem;
    /*padding: 2rem;*/
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow:5px 5px 18px #000000aa;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: #00000088;
    transform: translateY(100%);
    transition: transform 1s ease-in;
}

.overlay.show {
    transform: translateY(0);
    transition: transform 1s ease-in;
}

.overlay-header {
    text-align: center;
    font-size: 2rem;
}

.overlay-txt {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}
.buttons {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 94%;
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    width: 8rem;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: var(--nav-col-1);
    color: var(--primary-font-col);
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    box-shadow:5px 5px 18px #000000aa;
}

.name-header,
.section-header {
    color: var(--secondaryColor);
    font-size: 4rem;
    width: 100%;
    /*transform: rotate(-1deg);*/
    text-align: center;
    padding: .5rem;
    border-bottom: 2px solid var(--primary-font-col);
    margin: .5rem;
}

.section-header {
    margin: 4rem 0;
}
.motto {
    color: var(--primary-font-col);
}
.first {
    color: var(--primary-font-col);
}

nav {
    position: fixed;
    top: 0;
    right: 1rem;
    transform: translateX(13rem);
    transition: transform 0.6s ease-out;
    z-index: 10;
}

nav.active {
    transform: translateX(0);
    transition: transform 0.6s ease-in;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

li {
    border-radius: .4rem;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    margin: .1rem;
}

li a {
    text-decoration: none;
    color: var(--primary-font-col);
}

li:hover {
    filter: brightness(120%);
    transform: scaleX(1.05);
}

li:nth-of-type(odd) {
    background-color: var(--nav-col-1);
    /*background-color: var(--nav-col-1-trans);*/
}

li:nth-of-type(even) {
    background-color: var(--nav-col-2);
    /*background-color: var(--nav-col-2-trans);*/
}

.icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: fixed;
    top: .5rem;
    right: 2rem;
    height: 30px;
    width: 30px;
    z-index: 20;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: var(--primary-font-col);
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active ~ .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active ~ .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

